<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listado de Rutas</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h1>Listado de Rutas</h1>

  <!-- Botón Volver a Administración -->
  <a href="/admin" class="btn btn-secondary mb-3">Volver a Administración</a>

  <a href="/admin/rutas/crear" class="btn btn-primary mb-3">Crear Nueva Ruta</a>
  <table class="table">
    <thead>
    <tr>
      <th>Nombre de la Ruta</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ruta : ${rutas}">
      <td th:text="${ruta.nombreRuta}"></td>
      <td th:text="${ruta.descripcion}"></td>
      <td>
        <a th:href="@{/admin/rutas/editar/{id}(id=${ruta.id})}" class="btn btn-warning btn-sm">Editar</a>
        <a th:href="@{/admin/rutas/eliminar/{id}(id=${ruta.id})}" class="btn btn-danger btn-sm">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
