/* Estilos generales */
body {
    background-color: #f4f4f4; /* Color de fondo neutro */
    color: #333; /* Color de texto oscuro */
}

/* Barra lateral */
.sidebar {
    background-color: #4c2882; /* Violeta azulado */
    color: #fff; /* Texto blanco */
}

/* Encabezado */
.header {
    background-color: #c6ce00; /* Amarillo verdoso */
    color: #fff; /* Texto blanco */
}

/* Enlaces */
a {
    color: #4c2882; /* Violeta azulado */
    text-decoration: none;
}

a:hover {
    color: #c6ce00; /* Amarillo verdoso */
}

/* Botones */
.btn-primary {
    background-color: #4c2882; /* Violeta azulado */
    border-color: #4c2882;
}

.btn-primary:hover {
    background-color: #c6ce00; /* Amarillo verdoso */
    border-color: #c6ce00;
}
